<div class="container mt-5">
  <div class="row">
    <% @wishes.each do |wish| %>
      <div class="col-md-4 mb-4">
        <%= link_to wish_path(wish.id), class: "card text-decoration-none text-dark" do %>
          <div class="card-body">
            <h5 class="card-title"><%= wish.context %></h5>
            <p class="card-text"><small class="text-muted">by: <%= wish.writer %></small></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="container mt-4">
  <%= link_to "æ–°è¦ä½œæˆ", new_wish_path, class: "btn btn-primary" %>
</div>
