<div class="container mt-5">
  <h1 class="mb-4">新しい願いごと</h1>

  <% if @wish.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading"><%= pluralize(@wish.errors.count, "error") %>つのエラーのため保存できませんでした。</h4>
      <ul>
        <% @wish.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'form', wish: @wish %>
</div>
